* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.asidePanel {
  display: block;
  background-color: rgb(55, 209, 158);
  width: 30%;
  padding-top: 40px;
  height: 100vh;
}
.containerSearchBar {
  display: flex;
  width: 100%;
  background-color: red;
}

.headerSearchBar {
  display: flex;
  align-items: center;
  width: 450px;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.buttonSearchBar {
  background-image: url(/src/assets/search-icon.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  padding: 15px;
}
.bodySearchBar {
  display: block;
  width: 100%;
}
.SearchBar {
  height: 30px;
  width: 80%;
  border: none;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
}

.SearchBar:focus {
  outline: none;
  border: none;
}
input::placeholder {
  color: black;
}

.iconSearchBar {
    display: flex;
    background-color: #0b3591;
    width: 86%;
    margin-left: 30px;
    margin-right: 30px;
}

.celcius {
  display: flex;
  background-color: #8c1491;
  font-size: 85px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: normal;
}
.dayAndTime {
  display: block;
  background-color: #32a310;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(219, 216, 216);
}

.dayAndTime span {
  color: gray;
  font-size: 30px;
}

.fotterSearchBar {
  display: block;
}

.weather {
  background-color: #2077a0;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.weather p {
  margin-left: 10px;
  font-size: 20px;
}

.weather img {
  width: 50px;
}
.containerCity {
  position: relative;
  display: inline-block;
  width: 80%;
  margin: 25px 30px;
}
.cityBacground {
  background-image: url(/src/assets/New-York.jpg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  width: 100%;
  height: 150px;
}

.cityText {
  position: absolute;
  color: white;
  z-index: 1;
}
